*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    background-color:#3c0101; 
}

.content{
    padding: 1rem; 
    width: 100vw;
    height: 100vh;
    background-color: rgb(227, 225, 230)
    
}

.content h1{
    margin: 0;
}




