* {
    font-family: "JetBrains Mono", monospace;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
}

.content h1 {
    margin: 0;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

