/* Ol Class */

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 388px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Pokemon Element List */

.pokemon {
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon detail img {
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
    
}

.pokemon .name{
    color: #fff;
    margin: 0;
}

.pokemon .number {
    text-align: right;
    color: #000;
    opacity: .3;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
    border-radius: 1rem;
}

